<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dianoga" version="3.1.1" targetFramework="net45" />
  <package id="Dianoga.ImageMagick" version="1.2.4" targetFramework="net45" />
  <package id="Magick.NET.Core" version="6.2.0" targetFramework="net45" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.23.4" targetFramework="net45" />
  <package id="nQuant" version="1.0.3" targetFramework="net45" />
</packages>